body {
    background: url("/images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

.home-image {
    width: 60%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

p a {
    font-weight: bold;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

