body {
    background-color: #f8f9fa;
}

.home-image {
    width: 60%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

p a {
    font-weight: bold;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
